In [31]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][2][1]

60

In [27]:
lt=[10,20,[30,40,[50,60],70],80,90]
print(lt[2][2])

[50, 60]

In [32]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[0]

10

In [33]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[1]

20

In [34]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2]

[30, 40, [50, 60], 70]

In [35]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[3]

80

In [36]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[4]

90

In [38]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][0]

30

In [39]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][1]

40

In [40]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][2]

[50, 60]

In [41]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][3]

70

In [43]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][2][1]

60

In [44]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][2][0]

50

In [45]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[2][3]

70

In [47]:
lt=[10,20,[30,40,[50,60],70],80,90]
lt[3]

80

In [63]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
print(dt)

{'name': ['saniya', 'fareeda', 'junaidh'], 'age': '21', 'city': 'hyderabad'}

In [67]:
dt={
    'name':{"subname":'saniya'},
    'age': '21',
    'city':'hyderabad'
}
print(dt)

{'name': {'subname': 'saniya'}, 'age': '21', 'city': 'hyderabad'}

In [70]:
dt={
    'name':'saniya',
    'age': '21',
    'city':'hyderabad',
    'city':'khammam',
    'city':'telangana'

}
print(dt)

{'name': 'saniya', 'age': '21', 'city': 'telangana'}

In [71]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
print(dt['name'])

['saniya', 'fareeda', 'junaidh']

In [76]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
print(dt['name'][1])

fareeda

In [81]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt['name'][1]="sulthana"
dt

{'name': ['saniya', 'sulthana', 'junaidh'], 'age': '21', 'city': 'hyderabad'}

In [82]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt['age']=20
dt

{'name': ['saniya', 'fareeda', 'junaidh'], 'age': 20, 'city': 'hyderabad'}

In [84]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt['name']=['saniya','mirza']
dt

{'name': ['saniya', 'mirza'], 'age': '21', 'city': 'hyderabad'}

In [ ]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
print(dt['name'][1])

fareeda

In [88]:
dt=dict(name="saniya",age=21,city="hyderabad")
print(dt)

{'name': 'saniya', 'age': 21, 'city': 'hyderabad'}

In [89]:
dt=dict(name="saniya",age=21,city="hyderabad")
print(type(dt))

<class 'dict'>

In [90]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.get("age")

'21'

In [94]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.items()

dict_items([('name', ['saniya', 'fareeda', 'junaidh']), ('age', '21'), ('city', 'hyderabad')])

In [95]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.keys()

dict_keys(['name', 'age', 'city'])

In [96]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.values()

dict_values([['saniya', 'fareeda', 'junaidh'], '21', 'hyderabad'])

In [99]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad',
    'class':2
}
dt.pop("class")

2

In [101]:
 dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.popitem()

('city', 'hyderabad')

In [102]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.update({'colour':"blue"})
dt

{'name': ['saniya', 'fareeda', 'junaidh'],
 'age': '21',
 'city': 'hyderabad',
 'colour': 'blue'}

In [114]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.update({"age":18})
dt

{'name': ['saniya', 'fareeda', 'junaidh'], 'age': 18, 'city': 'hyderabad'}

In [105]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.setdefault("colour","red")
dt

{'name': ['saniya', 'fareeda', 'junaidh'],
 'age': '21',
 'city': 'hyderabad',
 'colour': 'red'}

In [110]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.setdefault("colour")
dt

{'name': ['saniya', 'fareeda', 'junaidh'],
 'age': '21',
 'city': 'hyderabad',
 'colour': None}

In [112]:
dt={
    'name':['saniya','fareeda','junaidh'],
    'age': '21',
    'city':'hyderabad'
}
dt.setdefault("city,22")
dt

{'name': ['saniya', 'fareeda', 'junaidh'],
 'age': '21',
 'city': 'hyderabad',
 'city,22': None}